body {
	background-image:url(header.jpg);
	background-size:cover;
}

#head1212 {
	font-family: 'Montserrat', sans-serif;
	color:#d9d9d9;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin-top:340px;
	transition: all 2s;
}

#head1212:hover {
	transform:scale(1.1);
	color: white
}

.btn {
	border: 2px black solid;
	border-radius:100px;
	background-color:orange;
}

.buttonLM {
	font-family: 'Montserrat', sans-serif;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin-top:240px;
	transition: all 1s;
}

.buttonLM:hover {
	transform: scale(1.1);
}